<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Smithers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login to our proxy">
    <meta name="author" content="Zivtech, LLC">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      @media (max-width: 979px) {
        body {
          padding-top: 0px;
        }
      }
    </style>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Zivtech Utilities on Smithers</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="grid">
        <div class="row-fluid">
          <div class="form-wrapper span6">
            <div class="form">
              <% if (message && message != '1') { %>
                <p><%= message %></p>
              <% } %>
              <form action="/proxy-login" method="post">
                <div>
                  <label>Username:</label>
                  <input type="text" name="username"/><br/>
                </div>
                <div>
                  <label>Password:</label>
                  <input type="password" name="password"/>
                </div>
                <div>
                  <input type="submit" value="Submit"/>
                </div>
              </form>
            </div> <!-- /form -->
          </div> <!-- /form-wrapper -->
          <div class="smithers span4">
            <img src="/Waylon_Smithers.png">
          </div> <!-- /smithers -->
        </div> <!-- /row -->
      </div> <!-- /grid -->
    </div> <!-- /container -->

  </body>
</html>
